/* about section */
.content__section {
  padding-bottom: 1.5rem;
}

.content__title {
  margin-bottom: 0.5rem;
}

.content__text {
  font-size: 0.655rem;
  line-height: 0.95rem;
}
/* end about section */
